@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
}

.bg-fundo {
  background-color: #1A1A1A;
}

.bg-darklindo {
 background-color: #0D0D0D;
}

.bg-bluezin {
  background-color: #1e6f9f;
  border-radius: 6px;
  font-weight: bold;
}

.borda {
  
  border-radius: 6px;
}
.boldzin {
  font-weight: bold;
}

.cor {
  color: #808080;
  font-weight: bold;
}
.bg-foda {
  background-color: #262626;
}
.menu-produtos {
  background-color: #262626;
  border: 1px solid #333333;
  color: #fff;
}

